.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #ffffff;
  padding: 0;
  width: 100%;
  height: 65px;
}

.headerLogo {
  float: left;
  width: 300px;
  padding: 10px 20px;
  cursor: pointer;
}

.headerLogo a {
  color: #f48055;
}

.dates {
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 0 auto 10px auto;
  background-color: #f2f2f2;
}

.dates a {
  padding-top: 7px !important;
}

.dateButton {
  color: #f48055;
}

.date {
  padding: 6px 0 0 0;
}

.informations {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  border-top: 2px solid #ff7f50;
}

.latencyStat {
  text-align: center;
  padding: 18px 0;
  margin: 15px auto 0 auto;
  color: #ffffff;
  width: 110px;
  height: 110px;
  border: 5px solid;
  border-radius: 50%;
}
