SERVICE_NAME="FC Latency Manager"

FILECOIN_NODE_URL=https://node.glif.io/space07/lotus/rpc/v0
FILECOIN_BLOCKS_OFFSET=10

DB_CONNECTION=data/database.db

RIPE_API_KEY=changeme

RIPE_PING_INTERVAL=60
RIPE_PING_RUNNING_TIME=300
RIPE_ONE_OFF=true

RIPE_REQUESTED_PROBES=2

RIPE_LOCATION_RANGE_INIT=0.01
RIPE_LOCATION_RANGE_MAX=10